django-mptt
-e git://github.com/gabrielgrant/django-ckeditor.git#egg=django-ckeditor
-e git://github.com/gabrielgrant/django-ckeditor-filemodel-manager.git#egg=django-filemodel-manager
-e git://github.com/gabrielgrant/django-html-field.git#egg=django-html-field
-e git://github.com/gabrielgrant/django-static-filtered-images.git#egg=django-static-filtered-images
-e git://github.com/gabrielgrant/django-python-identifier-field.git#egg=django-python-identifier-field
